<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }} <i class="fa fa-home"></i>!
    </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
    <li>
        <h2><a routerLink="/home" routerLinkActive="active">Songs</a></h2>
    </li>
    <li>
        <h2><a routerLink="/search" routerLinkActive="active">Search</a></h2>
    </li>
    <li>
        <h2><a routerLink="/stats" routerLinkActive="active">Stats</a></h2>
    </li>
</ul>

<router-outlet></router-outlet>